$clrBg1: #fff;
$clrBg2: #fff;
$clrBlue: #1733e8;
$clrText: #000;
$clrBlue3: #173;
$clrYellow: #fcce00;
$clrNavHover: #fcce00;
$clrInputError: #000;
$clrTextError: #000;

$navBgc:#fff;
$navText: #000;
$navFooter: #000;

$headerHeight: 100px;
$footerHeight: 225px;

$color1: #fff;
$color6: #fff;
 